{% extends 'base.html' %} {% block content %}
<h1>Votaciones</h1>
<div class="row">
  <section class="col-4"></section>
  <section class="col-8">
    <div class="accordion accordion-flush" id="accordionFlush">
      {% for votacion in votaciones %}
      <div class="accordion-item border">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Votacion #{{votacion.id}}
          </button>
        </h2>
        {% comment %} Revisar lo del despliegue del acordion {% endcomment %}
        <div 
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlush"
        >
          <div class="accordion-body">
            Placeholder content for this accordion, which is intended to
            demonstrate the <code>.accordion-flush</code> class. This is the
            first item's accordion body.
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

{% endblock content %}
